<mat-toolbar>
   
    <button routerLink='productHome' mat-button class="menu-button">      
        <span>Home</span>
    </button>
    <button routerLink='customers' mat-button class="menu-button">      
        <span>Coustomer details</span>
    </button>
    <button routerLink='products' mat-button class="menu-button">      
        <span>Product List</span>
    </button>
    <button routerLink='registerForm' mat-button class="menu-button">      
        <span>Register User</span>
    </button>
    <button routerLink='loginForm' mat-button class="menu-button">      
        <span>Login User</span>
    </button>
  </mat-toolbar>
