
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="card col-lg-6 mx-auto m-1 "  >
        <div class="card-body col-lg-12">
            <div class="row" >
                <div class="col-lg-5">
                    <img [src]="">
                </div>
                <div class="col-lg-7">
                    <div>
                        {{users.userName| uppercase}} 
                        <i class="m-2" [ngClass] = "getClass()" (click)="showUserDetailsToggle()"></i>
                       
                    </div>
                    <div [hidden]="userDetail">
                        <p>{{users.userName}}</p>
                        <p>{{users.email}}</p>
                        <!-- <p>{{user.phone}}</p> -->
                        <p>{{users.streetAddress}}</p>
                    </div>
                    <button class="btn btn-info m-1">Invite</button>
                    <button type="button" class="btn btn-info m-1" (click)="onEdit(this.users)" data-toggle="modal" 
                    data-target="#userModal">
                      Edit
                  </button>
                    <button type="button" (click)="deleteUser(users.id)" class="btn btn-info m-1">                   
                        Delete
                    </button>
                
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">

        </div>
</div>


