<div class="container ">
    
            <form [formGroup]="productForm"  #addProductForm = "ngForm" (load)="addProductForm.form.reset()" 
            (ngSubmit) = "onClickSubmitReactive()" >
            <!-- <div class="form-group col-lg-12 ">
             
              <input type="text" id="id" name="id" class="form-control 
              ng-untouch ng-pristine ng-invalid" (value)="id" placeholder = "id" formControlName="id"
                required hidden >
             
            </div> -->
                <div class="form-group col-lg-12 ">
                  <label for="title">Product Title</label>
                  <input type="text" id="title" name="title" class="form-control 
                  ng-untouch ng-pristine ng-invalid" placeholder = "product title" formControlName="productName"
                   minlength="4"  required>
                 
                </div>
              
                
                <div class="form-group col-lg-12">
                  <label for="price">Product Price</label>
                  <input type="text" class="form-control" id="price" name ="productPrice" placeholder ="Price" 
                  formControlName="productPrice" required  minlength="1" > 
                </div>
            
                <div class="form-group col-lg-12">
                    <label for="productImage">Product image url</label>
                    <input type="text" class="form-control" name = "imageUrl" 
                    placeholder = "product Image url" formControlName="imageUrl" minlength="4" 
                    required>
                </div>
                <div class="form-group col-lg-12">
                  <label for="describtion">Describtion</label>
                  <input type="text" class="form-control" name = "describtion" 
                  placeholder = "describtions" formControlName="describtion" minlength="4" 
                  required>
              </div>
               
               
                <div class="text-center">
                    <button type="submit" name="submit" class="btn btn-primary" 
                    [disabled]="productForm.invalid">Submit</button>
                </div>
               
              </form>
        </div>

 